/* src/components/RadialMenu/RadialMenu.css */
.radial-menu {
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
  outline: none;
  filter: drop-shadow( 0px 10px 15px rgba(0, 0, 0, .2));

  .sector_group {
    transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);

    .sector {
      transition: d 200ms cubic-bezier(0.4, 0, 1, 1);

    }
    .sector_arc {
       transition: d 200ms cubic-bezier(0.4, 0, 1, 1);
    }

    &:hover {
      .sector {
        fill: #323235
      }
      .sector_arc {
        stroke: #323235;
      }
    }

    .sector_line {
      transition: d 200ms cubic-bezier(0.4, 0, 1, 1);
    }

    .menu-label {
      font-size: 14px;
      fill: white;
      font-weight: 500;
      pointer-events: none;
      user-select: none;
      transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
    }

  }

}