@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import "tailwindcss";

#root {
  margin: 0 auto;
}

.gabarito-regular {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gabarito-bold {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.gabarito-black {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.radial-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .radial-menu-label-lines {
    position: absolute;
    top: 0;
    left: 0;
    path {
      transition: d 400ms cubic-bezier(0.22, 1, 0.36, 1);
    }
  }
  .radial-menu-labels {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    .menu-label {
      border: 0px solid rgba(255, 255, 255, .4);
      transition-property: width, height, top, left, transform, padding;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      position: absolute;
      text-align: left;
    }

  }
}
